# Android
.gradle/
build/
*/build/
local.properties
*.apk
*.aab

# IntelliJ / Android Studio
.idea/
*.iml

# .NET
bin/
obj/

# Visual Studio
.vs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Generated
captures/
.externalNativeBuild/
.cxx/

# Bundles
*.bundle