# Android / Gradle
.gradle/
build/
*/build/

# IntelliJ / Android Studio
.idea/
*.iml

# Local config
local.properties

# APKs
*.apk
*.aab

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kotlin/Java compiled files
*.class

# Generated
captures/
.externalNativeBuild/
.cxx/

# VS
.vs/

# Bundles
*.bundle